name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    name: Label PRs
    permissions:
      contents: read
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - id: label-pr
      name: Label PR
      uses: actions/labeler@v6
      with:
        sync-labels: true
