name: Update PR

on:
  push:
    branches:
      - 'master'
jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Automatically update PR
        uses: adRise/update-pr-branch@v0.9.1
        with:
          # Add secret here: https://github.com/AjayKMehta/PowerShellScripts/settings/secrets/actions
          token: ${{ secrets.ACTION_USER_TOKEN }}
          base: 'master'
          required_approval_count: 0
          require_passed_checks: true
          require_auto_merge_enabled: false
          allow_ongoing_checks: true
